vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Jul 2004 08:53:37 -0000
vti_author:SR|METRONIK\\ugo
vti_modifiedby:SR|METRONIK\\ugo
vti_nexttolasttimemodified:TR|22 Jul 2004 08:53:37 -0000
vti_timecreated:TR|23 Jul 2004 13:13:43 -0000
vti_extenderversion:SR|5.0.2.2623
vti_syncwith_localhost\\c\:\\documents and settings\\ugo\\documenti\\web/c\:/documents and settings/ugo/documenti/web:TR|22 Jul 2004 08:53:37 -0000
vti_lineageid:SR|{63A872F0-4714-4162-957E-C2563148D279}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|23 Jul 2004 13:13:43 -0000
vti_filesize:IR|4868
vti_cachedlinkinfo:VX|S|blobanc.gif S|bhbtnnc.gif S|bhbtnsc.gif S|bhmbtnc.gif S|bnbtnc.gif S|bprvbtnc.gif S|bubtnc.gif S|blogbalc.gif S|bvbtnnc.gif S|bvbtnsc.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/blocks/blobanc.gif FSUS|_themes/blocks/bhbtnnc.gif FSUS|_themes/blocks/bhbtnsc.gif FSUS|_themes/blocks/bhmbtnc.gif FSUS|_themes/blocks/bnbtnc.gif FSUS|_themes/blocks/bprvbtnc.gif FSUS|_themes/blocks/bubtnc.gif FSUS|_themes/blocks/blogbalc.gif FSUS|_themes/blocks/bvbtnnc.gif FSUS|_themes/blocks/bvbtnsc.gif
