vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|22 Jul 2004 08:53:37 -0000
vti_author:SR|METRONIK\\ugo
vti_modifiedby:SR|METRONIK\\ugo
vti_nexttolasttimemodified:TR|22 Jul 2004 08:53:37 -0000
vti_timecreated:TR|23 Jul 2004 13:13:43 -0000
vti_extenderversion:SR|5.0.2.2623
vti_syncwith_localhost\\c\:\\documents and settings\\ugo\\documenti\\web/c\:/documents and settings/ugo/documenti/web:TR|22 Jul 2004 08:53:37 -0000
vti_lineageid:SR|{7315DD3F-5B9B-4BDC-9D8A-6805C5954CA3}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|23 Jul 2004 13:13:43 -0000
vti_filesize:IR|1484
vti_cachedlinkinfo:VX|S|blobanc.gif S|blorulec.gif S|blobul1c.gif S|blobul2c.gif S|blobul3c.gif S|bhbtnsc.gif S|bhbtnnc.gif S|bvbtnsc.gif S|bvbtnnc.gif S|bhmbtnc.gif S|bubtnc.gif S|bprvbtnc.gif S|bnbtnc.gif S|blobul1c.gif S|blobul2c.gif S|blobul3c.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/blocks/blobanc.gif FSUS|_themes/blocks/blorulec.gif FSUS|_themes/blocks/blobul1c.gif FSUS|_themes/blocks/blobul2c.gif FSUS|_themes/blocks/blobul3c.gif FSUS|_themes/blocks/bhbtnsc.gif FSUS|_themes/blocks/bhbtnnc.gif FSUS|_themes/blocks/bvbtnsc.gif FSUS|_themes/blocks/bvbtnnc.gif FSUS|_themes/blocks/bhmbtnc.gif FSUS|_themes/blocks/bubtnc.gif FSUS|_themes/blocks/bprvbtnc.gif FSUS|_themes/blocks/bnbtnc.gif FSUS|_themes/blocks/blobul1c.gif FSUS|_themes/blocks/blobul2c.gif FSUS|_themes/blocks/blobul3c.gif
