vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|16 May 2005 15:33:05 -0000
vti_author:SR|METRONIK\\ugo
vti_modifiedby:SR|METRONIK\\SEGRETERIA
vti_nexttolasttimemodified:TR|16 May 2005 15:30:42 -0000
vti_timecreated:TR|26 Jul 2004 13:55:32 -0000
vti_extenderversion:SR|5.0.2.2623
vti_syncwith_localhost\\c\:\\documents and settings\\ugo\\documenti\\web/c\:/documents and settings/ugo/documenti/web:TR|26 Jul 2004 13:58:32 -0000
vti_lineageid:SR|{1B1F5025-0FE8-4D7C-8E57-FB7510AE795F}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|26 Jul 2004 13:55:32 -0000
vti_filesize:IR|1477
vti_cachedlinkinfo:VX|S|ricebnr.gif S|ricerul.gif S|ricebu1.gif S|ricebu2.gif S|ricebu3.gif S|ricehbs.gif S|ricehb.gif S|ricevbs.gif S|ricevb.gif S|ricehom.gif S|riceup.gif S|ricepre.gif S|ricenxt.gif S|ricebu1.gif S|ricebu2.gif S|ricebu3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/ricepapr/ricebnr.gif FSUS|_themes/ricepapr/ricerul.gif FSUS|_themes/ricepapr/ricebu1.gif FSUS|_themes/ricepapr/ricebu2.gif FSUS|_themes/ricepapr/ricebu3.gif FSUS|_themes/ricepapr/ricehbs.gif FSUS|_themes/ricepapr/ricehb.gif FSUS|_themes/ricepapr/ricevbs.gif FSUS|_themes/ricepapr/ricevb.gif FSUS|_themes/ricepapr/ricehom.gif FSUS|_themes/ricepapr/riceup.gif FSUS|_themes/ricepapr/ricepre.gif FSUS|_themes/ricepapr/ricenxt.gif FSUS|_themes/ricepapr/ricebu1.gif FSUS|_themes/ricepapr/ricebu2.gif FSUS|_themes/ricepapr/ricebu3.gif
