vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Jun 2004 14:28:21 -0000
vti_author:SR|METRONIK\\ugo
vti_modifiedby:SR|METRONIK\\ugo
vti_nexttolasttimemodified:TR|28 Jun 2004 14:28:21 -0000
vti_timecreated:TR|26 Jul 2004 06:30:32 -0000
vti_extenderversion:SR|5.0.2.2623
vti_syncwith_localhost\\c\:\\documents and settings\\ugo\\documenti\\web/c\:/documents and settings/ugo/documenti/web:TR|28 Jun 2004 14:28:21 -0000
vti_cacheddtm:TX|26 Jul 2004 06:30:32 -0000
vti_filesize:IR|10691
vti_cachedlinkinfo:VX|S|expglob.gif S|exptextb.jpg S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/expeditn/expglob.gif FSUS|_themes/expeditn/exptextb.jpg FSUS|_themes/expeditn/blank.gif
vti_lineageid:SR|{80ABE471-47E6-43D2-9704-7F628C27ED26}
vti_backlinkinfo:VX|
