vti_encoding:SR|utf8-nl
vti_webservertype:SR|msiis
vti_usagebymonth:UX|974 1590 1395 862 940 501 559
vti_restartmanual:IX|0
vti_defaultlanguage:SR|it
vti_usagevisitsbyweek:UX|36 25 31 17 24
vti_usagevisitsbymonth:UX|102 191 195 103 155 53 30
vti_oldestcompatibleversion:SR|2.0.0.0
vti_usagelastupdated:TX|24 Jan 2004 22:59:59 -0000
vti_timecreated:TR|17 Jul 2003 14:30:22 -0000
vti_usagelastformat:SX|1 3 2 G 
vti_navbuttonnextlabel:SR|Successiva
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_usagevisitsbyday:UX|5 8 8 7 5 2 1 2
vti_textindexood:IR|0
vti_usagebyday:UX|268 88 42 31 32 21 16 14
vti_approvallevels:VR|Approvato Negato In\\ sospeso
vti_usagehitsbyweek:UX|589 332 260 137 400
vti_usagebyweek:UX|498 241 173 118 364
vti_hassearchbot:BR|false
vti_borderdefault:SR|t
vti_usagehitsbyday:UX|286 112 64 41 46 24 16 14
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ACIPAddresses vti_ServerEmailTransport vti_ServerCollab
vti_categories:VR|Viaggi Riepilogo\\ spese Affari Concorrenza Obiettivi Idee Varie Attesa VIP Operazioni\\ in\\ corso Pianificazione Programma
vti_usagelastlog:SX|C:\\WINNT\\System32\\LogFiles\\w3svc5\\ex040124.log
vti_structfrom_localhost\\c\:\\documenti\\web1\\neo2/c\:/documenti/web1/neo2:TR|26 Feb 2004 15:15:42 -0000
vti_missingoverlaylabels:VX|
vti_defaultcharset:SR|windows-1252
vti_approvalapproved:SR|Approvato
vti_approvaldenied:SR|Negato
vti_autorecalc:IX|1
vti_navbuttonuplabel:SR|Su
vti_createpostinfo:BX|false
vti_disableautoimgsizeexts:SX|.asp
vti_usageserverlastupdated:TX|24 Jan 2004 22:59:59 -0000
vti_ignorekeyboard:IR|0
vti_extenderversion:SR|5.0.2.2623
vti_navbuttonprevlabel:SR|Precedente
vti_structfrom_localhost\\c\:\\documents and settings\\ugo\\documenti\\web/c\:/documents and settings/ugo/documenti/web:TR|21 Jul 2004 12:22:06 -0000
vti_dependenciesood:IR|1
vti_usagehitsbymonth:UX|1248 1951 1787 1308 1318 723 620
vti_usagelastmarker:SX|49953 50097 2004-01-24 22:37:58 195.205.249.66 - 80.20.44.43 80 GET /_themes/cascade/casbkg
vti_navbuttonhomelabel:SR|Home
vti_usagefirstdata:TX|16 Jul 2003 22:00:00 -0000
vti_missingoverlays:VX|
