vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jul 2004 13:27:59 -0000
vti_author:SR|METRONIK\\ugo
vti_modifiedby:SR|METRONIK\\ugo
vti_nexttolasttimemodified:TR|20 Jul 2004 13:27:59 -0000
vti_timecreated:TR|26 Jul 2004 06:26:22 -0000
vti_extenderversion:SR|5.0.2.2623
vti_syncwith_localhost\\c\:\\documents and settings\\ugo\\documenti\\web/c\:/documents and settings/ugo/documenti/web:TR|20 Jul 2004 13:27:59 -0000
vti_cacheddtm:TX|26 Jul 2004 06:26:22 -0000
vti_filesize:IR|10696
vti_cachedlinkinfo:VX|S|bstrglbu.gif S|bstrbk.gif S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/boldstri/bstrglbu.gif FSUS|_themes/boldstri/bstrbk.gif FSUS|_themes/boldstri/blank.gif
vti_lineageid:SR|{F1D8C7C2-0039-411A-8DF0-4ED9EBE10661}
vti_backlinkinfo:VX|
