vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jul 2004 13:41:56 -0000
vti_author:SR|METRONIK\\ugo
vti_modifiedby:SR|METRONIK\\ugo
vti_nexttolasttimemodified:TR|20 Jul 2004 13:41:56 -0000
vti_timecreated:TR|26 Jul 2004 06:26:22 -0000
vti_extenderversion:SR|5.0.2.2623
vti_syncwith_localhost\\c\:\\documents and settings\\ugo\\documenti\\web/c\:/documents and settings/ugo/documenti/web:TR|20 Jul 2004 13:41:56 -0000
vti_cacheddtm:TX|26 Jul 2004 06:26:22 -0000
vti_filesize:IR|5104
vti_cachedlinkinfo:VX|S|cnvbnr.gif S|cnvphb.gif S|cnvphbp.gif S|cnvhome.gif S|cnvnext.gif S|cnvprev.gif S|cnvup.gif S|cnvglb.gif S|cnvpvb.gif S|cnvpvbp.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/canvas/cnvbnr.gif FSUS|_themes/canvas/cnvphb.gif FSUS|_themes/canvas/cnvphbp.gif FSUS|_themes/canvas/cnvhome.gif FSUS|_themes/canvas/cnvnext.gif FSUS|_themes/canvas/cnvprev.gif FSUS|_themes/canvas/cnvup.gif FSUS|_themes/canvas/cnvglb.gif FSUS|_themes/canvas/cnvpvb.gif FSUS|_themes/canvas/cnvpvbp.gif
vti_lineageid:SR|{96BA83D8-C49F-4D21-B7D1-67B801597CE0}
vti_backlinkinfo:VX|
