vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jul 2004 13:41:56 -0000
vti_author:SR|METRONIK\\ugo
vti_modifiedby:SR|METRONIK\\ugo
vti_nexttolasttimemodified:TR|20 Jul 2004 13:41:56 -0000
vti_timecreated:TR|26 Jul 2004 06:26:22 -0000
vti_extenderversion:SR|5.0.2.2623
vti_syncwith_localhost\\c\:\\documents and settings\\ugo\\documenti\\web/c\:/documents and settings/ugo/documenti/web:TR|20 Jul 2004 13:41:56 -0000
vti_cacheddtm:TX|26 Jul 2004 06:26:22 -0000
vti_filesize:IR|1499
vti_cachedlinkinfo:VX|S|cnvbnr.gif S|cnvrule.gif S|cnvbull1.gif S|cnvbull2.gif S|cnvbull3.gif S|cnvphbp.gif S|cnvphb.gif S|cnvpvbp.gif S|cnvpvb.gif S|cnvhome.gif S|cnvup.gif S|cnvprev.gif S|cnvnext.gif S|cnvbull1.gif S|cnvbull2.gif S|cnvbull3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/canvas/cnvbnr.gif FSUS|_themes/canvas/cnvrule.gif FSUS|_themes/canvas/cnvbull1.gif FSUS|_themes/canvas/cnvbull2.gif FSUS|_themes/canvas/cnvbull3.gif FSUS|_themes/canvas/cnvphbp.gif FSUS|_themes/canvas/cnvphb.gif FSUS|_themes/canvas/cnvpvbp.gif FSUS|_themes/canvas/cnvpvb.gif FSUS|_themes/canvas/cnvhome.gif FSUS|_themes/canvas/cnvup.gif FSUS|_themes/canvas/cnvprev.gif FSUS|_themes/canvas/cnvnext.gif FSUS|_themes/canvas/cnvbull1.gif FSUS|_themes/canvas/cnvbull2.gif FSUS|_themes/canvas/cnvbull3.gif
vti_lineageid:SR|{78A064CC-C5FD-483B-A4D8-50AE453FF910}
vti_backlinkinfo:VX|
