vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Jun 2004 14:49:34 -0000
vti_author:SR|METRONIK\\ugo
vti_modifiedby:SR|METRONIK\\ugo
vti_nexttolasttimemodified:TR|28 Jun 2004 14:49:34 -0000
vti_timecreated:TR|26 Jul 2004 06:58:26 -0000
vti_extenderversion:SR|5.0.2.2623
vti_syncwith_localhost\\c\:\\documents and settings\\ugo\\documenti\\web/c\:/documents and settings/ugo/documenti/web:TR|28 Jun 2004 14:49:34 -0000
vti_cacheddtm:TX|26 Jul 2004 06:58:26 -0000
vti_filesize:IR|5204
vti_cachedlinkinfo:VX|S|stonbnr.gif S|stonhb.gif S|stonhbs.gif S|stonhom.gif S|stonnxt.gif S|stonpre.gif S|stonup.gif S|stonglbu.gif S|stonvb.gif S|stonvbs.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/sandston/stonbnr.gif FSUS|_themes/sandston/stonhb.gif FSUS|_themes/sandston/stonhbs.gif FSUS|_themes/sandston/stonhom.gif FSUS|_themes/sandston/stonnxt.gif FSUS|_themes/sandston/stonpre.gif FSUS|_themes/sandston/stonup.gif FSUS|_themes/sandston/stonglbu.gif FSUS|_themes/sandston/stonvb.gif FSUS|_themes/sandston/stonvbs.gif
vti_lineageid:SR|{C4BB25FC-C369-4B53-9F3E-1250DDE8186C}
vti_backlinkinfo:VX|
