vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Jun 2004 14:49:35 -0000
vti_author:SR|METRONIK\\ugo
vti_modifiedby:SR|METRONIK\\ugo
vti_nexttolasttimemodified:TR|28 Jun 2004 14:49:35 -0000
vti_timecreated:TR|26 Jul 2004 06:58:26 -0000
vti_extenderversion:SR|5.0.2.2623
vti_syncwith_localhost\\c\:\\documents and settings\\ugo\\documenti\\web/c\:/documents and settings/ugo/documenti/web:TR|28 Jun 2004 14:49:35 -0000
vti_cacheddtm:TX|26 Jul 2004 06:58:26 -0000
vti_filesize:IR|1451
vti_cachedlinkinfo:VX|S|stonbnr.gif S|stonrul.gif S|stonbu1.gif S|stonbu2.gif S|stonbu3.gif S|stonhbs.gif S|stonhb.gif S|stonvbs.gif S|stonvb.gif S|stonhom.gif S|stonup.gif S|stonpre.gif S|stonnxt.gif S|stonbu1.gif S|stonbu2.gif S|stonbu3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/sandston/stonbnr.gif FSUS|_themes/sandston/stonrul.gif FSUS|_themes/sandston/stonbu1.gif FSUS|_themes/sandston/stonbu2.gif FSUS|_themes/sandston/stonbu3.gif FSUS|_themes/sandston/stonhbs.gif FSUS|_themes/sandston/stonhb.gif FSUS|_themes/sandston/stonvbs.gif FSUS|_themes/sandston/stonvb.gif FSUS|_themes/sandston/stonhom.gif FSUS|_themes/sandston/stonup.gif FSUS|_themes/sandston/stonpre.gif FSUS|_themes/sandston/stonnxt.gif FSUS|_themes/sandston/stonbu1.gif FSUS|_themes/sandston/stonbu2.gif FSUS|_themes/sandston/stonbu3.gif
vti_lineageid:SR|{9176C3B9-7FB0-45A5-97B9-55F3C4E8382C}
vti_backlinkinfo:VX|
