vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Jun 2004 14:49:35 -0000
vti_author:SR|METRONIK\\ugo
vti_modifiedby:SR|METRONIK\\ugo
vti_nexttolasttimemodified:TR|28 Jun 2004 14:49:35 -0000
vti_timecreated:TR|26 Jul 2004 06:58:27 -0000
vti_extenderversion:SR|5.0.2.2623
vti_syncwith_localhost\\c\:\\documents and settings\\ugo\\documenti\\web/c\:/documents and settings/ugo/documenti/web:TR|28 Jun 2004 14:49:35 -0000
vti_cacheddtm:TX|26 Jul 2004 06:58:27 -0000
vti_filesize:IR|10475
vti_cachedlinkinfo:VX|S|stonglbu.gif S|stonbk.jpg S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/sandston/stonglbu.gif FSUS|_themes/sandston/stonbk.jpg FSUS|_themes/sandston/blank.gif
vti_lineageid:SR|{0BAC1ACF-B56E-43EC-813F-9F16B4951F4E}
vti_backlinkinfo:VX|
